@layer components {
  /* ===============================
     Accordion Icon Animation
     =============================== */

  @keyframes accordionIconOpen1 {
    0% {
        width: 100%
    }
    50% {
        width: 0%
    }
    100% {
        width: 0%
    }
  }

  @keyframes accordionIconOpen2 {
    0% {
        height: 100%
    }
    50% {
        height: 0%
    }
    100% {
        height: 100%
    }
  }

  @keyframes accordionIconClose1 {
    0% {
        width: 0%
    }
    50% {
        width: 0%
    }
    100% {
        width: 100%
    }
  }

  @keyframes accordionIconClose2 {
    0% {
        height: 100%
    }
    50% {
        height: 0%
    }
    100% {
        height: 100%
    }
  }

  @media (min-width: 750px) {
    .careers-accordion .careers-accordion-icon div:nth-child(1) {
      animation: accordionIconClose1 0.4s var(--ease-out-quart) forwards;
    }
    .careers-accordion .careers-accordion-icon div:nth-child(2) {
      animation: accordionIconClose2 0.4s var(--ease-out-quart) forwards;
    }
    .careers-accordion.active .careers-accordion-icon div:nth-child(1) {
      animation: accordionIconOpen1 0.4s var(--ease-out-quart) forwards;
    }
    .careers-accordion.active .careers-accordion-icon div:nth-child(2) {
      animation: accordionIconOpen2 0.4s var(--ease-out-quart) forwards;
    }
    .careers-accordion {
        .careers-accordion-icon {
            will-change: transform;
            transition: transform 0.4s var(--ease-out-quart);
        }
    }
    .careers-accordion.active {
        .careers-accordion-icon {
            transform: translate3d(0, -50%, 0) rotate(90deg);
        }
    }
  }
}

.splitting-text .char {
  display: inline-block;
  will-change: transform, opacity;
  transform: translateY(0);
    transition:
    opacity .5s var(--ease-out-quart),
    color .5s var(--ease-out-quart),
    transform .5s var(--ease-out-quart);

  /* ★ ここが @for の代わり */
  transition-delay:
    calc(var(--char-index) * 0.01s),
    calc(var(--char-index) * 0.01s),
    calc(var(--char-index) * 0.01s);
}

.splitting-text .char {
}

.splitting-hover:hover, .splitting-hover.stay {
    .splitting-hover__inner {
        .splitting-text {
            &:nth-child(1) {
                .char {
                    transform: translateY(-107%);
                }
            }
            &:nth-child(2) {
                .char {
                    transform: translateY(-5%);
                }
            }
        }
    }
}

.icon-hover {
    &:hover {
        .icon-content__inner {
            .icon {
                transition: transform 0.5s var(--ease-out-quart);
                &:nth-child(1) {
                    transform: translateX(101%);
                }
                &:nth-child(2) {
                    transform: translateX(0%);
                }
            }
        }
    }
    .icon-content__inner {
        position: relative;
        display: inline-block;
        overflow: hidden;
        .icon {
            will-change: transform;
            svg {
                * {
                  will-change: stroke;
                  transition:
                    stroke .5s var(--ease-out-quart);
                }
            }
            &:nth-child(1) {
                position: relative;
                z-index: 1;
                transform: translateX(0%);
            }
            &:nth-child(2) {
                position: absolute;
                top: 0;
                left: 0;
                transform: translateX(-101%);
            }
        }
    }
}

.splitting-hover {
    .splitting-hover__inner {
        position: relative;
        top: 2.5%;
        display: inline-block;
        overflow: hidden;
        .splitting-text {
            &:nth-child(1) {
                .char {
                    transform: translateY(-5%);
                }
            }
            &:nth-child(2) {
                .char {
                    transform: translateY(107%);
                }
            }
        }
    }
}

.splitting-hover {
    position: relative;
    .splitting-hover__inner {
        position: relative;
        display: inline-block;
        overflow: hidden;
        line-height: 1;
        .splitting-text {
            &:nth-child(1) {
                position: relative;
                z-index: 1;
            }
            &:nth-child(2) {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}