@layer components {
  /* ===============================
     Accordion Icon Animation
     =============================== */

  @keyframes accordionIconOpen1 {
    0% {
        width: 100%
    }
    50% {
        width: 0%
    }
    100% {
        width: 0%
    }
  }

  @keyframes accordionIconOpen2 {
    0% {
        height: 100%
    }
    50% {
        height: 0%
    }
    100% {
        height: 100%
    }
  }

  @keyframes accordionIconClose1 {
    0% {
        width: 0%
    }
    50% {
        width: 0%
    }
    100% {
        width: 100%
    }
  }

  @keyframes accordionIconClose2 {
    0% {
        height: 100%
    }
    50% {
        height: 0%
    }
    100% {
        height: 100%
    }
  }

  @media (min-width: 750px) {
    .careers-accordion .careers-accordion-icon div:nth-child(1) {
      animation: accordionIconClose1 0.4s var(--ease-out-quart) forwards;
    }
    .careers-accordion .careers-accordion-icon div:nth-child(2) {
      animation: accordionIconClose2 0.4s var(--ease-out-quart) forwards;
    }
    .careers-accordion.active .careers-accordion-icon div:nth-child(1) {
      animation: accordionIconOpen1 0.4s var(--ease-out-quart) forwards;
    }
    .careers-accordion.active .careers-accordion-icon div:nth-child(2) {
      animation: accordionIconOpen2 0.4s var(--ease-out-quart) forwards;
    }
    .careers-accordion {
        .careers-accordion-icon {
            will-change: transform;
            transition: transform 0.4s var(--ease-out-quart);
        }
    }
    .careers-accordion.active {
        .careers-accordion-icon {
            transform: translate3d(0, -50%, 0) rotate(90deg);
        }
    }
  }
}
