@import "tailwindcss" prefix(pre);
@theme {
  /* `pre:text-gray` を有効化（DEFAULTを作る）*/
  --color-gray: #959595;
  --color-lightGray: #D8D8D8;
  --color-placeholder: #ADADAD;
  --color-ketchup: #C80F2E;

  /* 例: max幅の独自ブレークポイント */
  --breakpoint-sm-max: 749px;

  --font-gt: var(--font-gt-america), system-ui, sans-serif;
  --font-dnp: dnp-shuei-gothic-kin-std, sans-serif;
}

@layer components {
  header nav a.active,
  header nav a.is-transitioning {
    color: var(--pre-color-ketchup);
  }

  header nav a.active .char,
  header nav a.is-transitioning .char {
    color: var(--pre-color-ketchup);
  }

  /* hoverより強くする */
  header nav a.is-transitioning:hover {
    color: var(--pre-color-ketchup);
  }
}


.btn-submit {
  will-change: background-color;
  transition: background-color 0.5s var(--ease-out-quart); 
  @apply pre:relative pre:h-20 pre:w-[340px] pre:text-[20px] pre:font-gt pre:font-light pre:text-center pre:leading-20 pre:bg-black pre:block pre:!text-white pre:cursor-pointer pre:border-black pre:border pre:border-solid pre:hover:bg-white;
}

/* 任意：disabledの見た目 */
.btn-submit:disabled {
  @apply pre:opacity-60 pre:cursor-not-allowed;
}

/* 任意：矢印用（毎回同じなら） */
.btn-submit__arrow {
  @apply pre:absolute pre:top-[50%] pre:right-[25px] pre:[transform:translate3d(0,-50%,0)];
}

.careers-accordion {
  @apply pre:mb-[110px] pre:last:mb-0
}

.careers-accordion-title {
  &.active, &:hover {
    &::after {
      transform: translate3d(0, 0, 0);
    }
  }
  &::before {
    content: '';
    height: 1px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate3d(0%, 0, 0);
    will-change: transform;
    transition: 1.5s transform var(--ease-in-out-quart);
  }
  &::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: var(--color-ketchup);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transform: translate3d(-101%, 0, 0);
    will-change: transform;
    transition: 1s transform var(--ease-in-out);
  }
}

.careers-accordion.active .careers-accordion-title {
  @apply pre:border-ketchup
}
.careers-accordion.active .careers-accordion-icon div, .careers-accordion:hover .careers-accordion-icon div {
  @apply pre:bg-ketchup;
}
.careers-accordion .careers-accordion-icon div {
  will-change: background-color;
  transition: background-color 0.5s var(--ease-out-quart); 
}
.careers-accordion.active .careers-accordion-icon {
  @apply pre:border-ketchup;
  transform: translate3d(0, -50%, 0) rotate(90deg);
}
.careers-accordion-box {
  @apply pre:flex pre:py-[30px] pre:pl-5 pre:pb-10 pre:border-b pre:border-lightGray pre:border-solid
}
.careers-accordion-icon {
  @apply pre:h-[22px] pre:w-[22px] pre:absolute pre:right-0 pre:top-[50%] pre:transform-[translate3d(0,-50%,0)]
}
.careers-accordion-title {
  @apply pre:relative pre:h-[54px] pre:cursor-pointer pre:flex pre:items-center pre:overflow-hidden pre:z-10 pre:bg-white
}
.careers-accordion__inner {
   @apply pre:relative pre:justify-end pre:grid
   /* @apply pre:relative pre:overflow-hidden pre:flex pre:justify-end */
}
.careers-accordion__inner-content {
   @apply pre:pt-[60px] pre:pb-[54px] pre:[&_h4]:text-[20px] pre:[&_h4]:font-gt pre:[&_h4]:font-light pre:[&_h4]:mb-1 pre:[&_h5]:text-[12px] pre:[&_h5]:font-dnp pre:[&_h5]:font-light
   /* @apply pre:pt-[60px] pre:pb-[54px] pre:w-[calc(693/1440*100%)] pre:[&_h4]:text-[20px] pre:[&_h4]:font-gt pre:[&_h4]:font-light pre:[&_h4]:mb-1 pre:[&_h5]:text-[12px] pre:[&_h5]:font-dnp pre:[&_h5]:font-light */
}

#header {
  nav {
    a {
      &:last-child {
        svg {
            will-change: rotate;
            transition: rotate 0.4s var(--ease-out-quart);
        }
      }
    }
  }
}
@layer components {
  .works-list {
    transition:
      opacity .35s var(--ease-out-quart),
      transform .35s var(--ease-out-quart);
    will-change: opacity, transform;
  }

  .works-list.is-changing {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
}
