@import "tailwindcss" prefix(pre);
@theme {
  /* `pre:text-gray` を有効化（DEFAULTを作る）*/
  --color-gray: #959595;
  --color-placeholder: #D9D9D9;
  --color-ketchup: #C80F2E;

  /* 例: max幅の独自ブレークポイント */
  --breakpoint-sm-max: 749px;

  --font-gt: var(--font-gt-america), system-ui, sans-serif;
  --font-shuei: "dnp-shuei-gothic-kin-std", sans-serif;

}
